<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{resume.basics.name}}</title>
        <style>
            {{{css}}}
        </style>
    </head>
    <body>
        <div class="container">

            <!-- Name, title -->
            {{#resume.basics}}
            <h3 class="basics-name sm-margin-bottom no-margin-top">
                {{name}}
                {{#if label}}<span class="basics-label">{{label}}</span>{{/if}}
            </h3>

            {{#if summary}}
            <p class="newspaper no-margin-bottom">{{{summary}}}</p>
            {{/if}}
            {{/resume.basics}}

            <!-- LEFT COLUMN -->
            <div class="col-xs-3 no-padding lg-margin-top sidebar">
                <div class="sidebar-section sidebar-about">
                    <!-- LEFT COLUMN: Address, contact information -->
                    <div class="page-header no-margin">
                        <h5>About</h5>
                    </div>
                    {{#resume.basics}}
                    <ul class="no-bullets no-padding-left no-margin-bottom">
                        <li>{{#if phone}}{{phone}}{{/if}}</li>
                        <li>
                            {{#location}}
                            {{#if city}}{{city}}{{/if}}{{#if region}}, {{region}}{{/if}}{{#if countryCode}} ({{countryCode}}){{/if}}
                            {{/location}}
                       </li>
                        <li>
                            {{#if website}}<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M218.8,103.7,138.8,31a16,16,0,0,0-21.6,0l-80,72.7A16,16,0,0,0,32,115.5v92.1a16.4,16.4,0,0,0,4,11A15.9,15.9,0,0,0,48,224H96a8,8,0,0,0,8-8V168a8,8,0,0,1,8-8h32a8,8,0,0,1,8,8v48a8,8,0,0,0,8,8h48a15.6,15.6,0,0,0,7.6-1.9A16.1,16.1,0,0,0,224,208V115.5A16,16,0,0,0,218.8,103.7Z"></path></svg> <a href="{{website}}">{{stripHttp website}}</a>{{/if}}
                        </li>
                        <li>
                            {{#if email}}<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M227.7,48.3,175.3,234.2a15.9,15.9,0,0,1-14.1,11.6h-1.4a16,16,0,0,1-14.4-9.1l-35.7-75.4a4.1,4.1,0,0,1,.8-4.6l51.3-51.3a8,8,0,1,0-11.3-11.3L99.2,145.5a4.1,4.1,0,0,1-4.6.8l-75-35.5a16.6,16.6,0,0,1-9.5-15.6A15.9,15.9,0,0,1,21.8,80.7L208.1,28.2a16,16,0,0,1,17.7,6.5A16.7,16.7,0,0,1,227.7,48.3Z"></path></svg> <a href="mailto:{{email}}">{{email}}</a>{{/if}}
                        </li>
                        <li>
                            {{#if github}}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg> <a href="https://github.com/{{github}}">{{github}}</a>{{/if}}
                        </li>
                        <li>
                            {{#if twitter}}<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M245.7,77.7l-30.2,30.1C209.5,177.7,150.5,232,80,232c-14.5,0-26.5-2.3-35.6-6.8-7.3-3.7-10.3-7.6-11.1-8.8a8,8,0,0,1,3.9-11.9c.2-.1,23.8-9.1,39.1-26.4a108.6,108.6,0,0,1-24.7-24.4c-13.7-18.6-28.2-50.9-19.5-99.1a8.1,8.1,0,0,1,5.5-6.2,8,8,0,0,1,8.1,1.9c.3.4,33.6,33.2,74.3,43.8V88a48.3,48.3,0,0,1,48.6-48,48.2,48.2,0,0,1,41,24H240a8,8,0,0,1,7.4,4.9A8.4,8.4,0,0,1,245.7,77.7Z"></path></svg> <a href="https://twitter.com/{{twitter}}">{{twitter}}</a>{{/if}}
                        </li>
                    </ul>
                    <!-- // LEFT COLUMN: Address, contact information -->


                    <!-- LEFT COLUMN: Social Networking -->
                    {{#if profiles.length}}
                    <ul class="no-bullets no-padding-left">
                        {{#each profiles}}
                        <li><strong>{{network}}:</strong> <a href="{{url}}">{{username}}</a></li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{/resume.basics}}
                </div>

                <!-- // LEFT COLUMN: Social Networking -->
                <!-- LEFT COLUMN: Languages -->
                {{#if resume.languages.length}}
                <div class="sidebar-section sidebar-languages">

                    <div class="page-header no-margin lg-margin-top">
                        <h5>Languages</h5>
                    </div>

                    <div class="print-together">
                        <div class="no-page-break">
                            {{#each resume.languages}}
                            <strong>{{#if language}}{{language}}{{/if}}</strong>
                            {{#if level}}({{level}}){{/if}}
                            <br />
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/if}}
                <!-- // LEFT COLUMN: Languages -->


                <!-- LEFT COLUMN: Skills -->
                {{#if resume.skills.length}}
                <div class="sidebar-section sidebar-skills">

                    <div class="page-header no-margin lg-margin-top skills">
                        <h5>Skills</h5>
                    </div>

                    <div class="print-together">
                        <div class="no-page-break">
                            {{#each resume.skills}}
                            <div class="text-uppercase skills-header">{{#if name}}{{name}}{{/if}}</div>

                            {{#if keywords.length}}
                            <ul class="no-bullets sm-padding-left">
                                {{#each keywords}}
                                <li>{{.}}</li>
                                {{/each}}
                            </ul>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/if}}
                <!-- // LEFT COLUMN: Skills -->

                <!-- LEFT COLUMN: Interests -->
                {{#if resume.interests.length}}
                <div class="sidebar-section sidebar-interests">

                    <div class="page-header no-margin lg-margin-top">
                        <h5>Interests</h5>
                    </div>

                    <div class="print-together">
                        <div class="no-page-break">
                            {{#each resume.interests}}
                            {{#if name}}<i class="text-uppercase">{{name}}</i><br />{{/if}}

                            {{#if keywords.length}}
                            <ul class="no-bullets sm-padding-left">
                                {{#each keywords}}
                                <li>{{.}}</li>
                                {{/each}}
                            </ul>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/if}}
                <!-- // LEFT COLUMN: Interests -->
            </div>
            <!-- // LEFT COLUMN -->


            <!-- RIGHT COLUMN -->
            <div class="col-xs-9 no-padding-right column-right">

                <!-- RIGHT COLUMN: Education -->
                {{#if resume.education.length}}
                <div class="section-education print-together">
                    <div class="no-page-break">
                        <div class="page-header no-margin-bottom lg-margin-top">
                            <h5>Education</h5>
                        </div>

                        {{#each resume.education}}
                        <h6 class="job-title sm-margin-top no-margin">
                            {{#if startDate}}
                            <span class="education-date">
                                {{#if startDate}}{{startDate}}{{/if}} &mdash; {{#if endDate}} {{endDate}}{{else}}Present{{/if}}
                            </span>
                            {{else}}
                            {{#if endDate}}
                            <span class="education-date">{{endDate}}</span>
                            {{/if}}
                            {{/if}}

                            {{#if institution}}{{institution}}{{/if}}
                        </h6>

                        <div class="clearfix"></div>

                        <p class="education-details no-margin">
                            {{#if studyType}}{{{studyType}}}{{/if}}{{#if area}}, {{area}}{{/if}}{{#if gpa}}, GPA: {{gpa}}{{/if}}
                        </p>

                        <div class="clearfix"></div>

                        {{#if courses.length}}
                        <p class="no-margin">
                            <strong>Courses: </strong>
                            {{#each courses}}{{#if @last}}{{.}}{{else}}{{.}}, {{/if}}{{/each}}
                        </p>
                        {{/if}}

                        {{/each}}
                    </div>
                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Education -->

                <!-- RIGHT COLUMN: Certifications -->
                {{#if resume.certifications.length}}
                <div class="section-certifications">
                    <div class="page-header no-margin-bottom lg-margin-top">
                        <h5>Certifications</h5>
                    </div>

                    {{#each resume.certifications}}
                    <h6 class="job-title sm-margin-top no-margin-bottom">
                        {{#if startDate}}
                        <span class="education-date">
                            {{#if startDate}}{{startDate}}{{/if}} &mdash; {{#if endDate}} {{endDate}}{{else}}Present{{/if}}
                        </span>
                        {{else}}
                        {{#if endDate}}
                        <span class="education-date">{{endDate}}</span>
                        {{/if}}
                        {{/if}}

                        {{#if name}}{{name}}{{/if}}
                    </h6>

                    <div class="clearfix"></div>
                    {{/each}}
                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Certifications -->

                <!-- RIGHT COLUMN: Experience -->
                {{#if resume.work.length}}
                <div class="section-work">
                    <div class="page-header no-margin-bottom lg-margin-top">
                        <h5>Professional Experience</h5>
                    </div>

                    <div class="print-together experience">
                        {{#each resume.work}}
                        <div class="no-page-break">
                            <h6 class="job-title sm-margin-top no-margin-bottom">
                                <span class="job-details">
                                    {{#if hours}}{{hours}} HRS per week<br />{{/if}}
                                    {{#if salary}}{{salary}}<br />{{/if}}
                                    {{#if startDate}}
                                    {{#if endDate}}{{endDate}}{{else}}Present{{/if}}<br />{{#if startDate}}{{startDate}}{{/if}}
                                    {{else}}
                                    {{#if endDate}}{{endDate}}{{/if}}
                                    {{/if}}
                                </span>

                                {{#if position}}{{position}}{{/if}}
                                {{#if company}}<br /><small style="font-size: 90%;">{{{company}}}</small>{{/if}}
                            </h6>

                            <div class="clearfix"></div>

                            <p class="job-information no-margin no-padding">
                                {{#if website}}<a href="{{website}}">{{stripHttp website}}</a><br />{{/if}}
                                {{#if address}}{{address}}{{/if}}
                                {{#if supervisor}}- {{supervisor}}{{/if}}
                                {{#if contact_phone}}- {{contact_phone}}{{/if}}
                            </p>

                            {{#if summary}}
                            <p class="sm-margin-top newspaper">{{summary}}</p>
                            {{/if}}
                        </div>


                        {{#if highlights.length}}
                        <ul>
                            {{#each highlights}}
                            <li>{{.}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                        {{/each}}

                    </div>
                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Experience -->


                <!-- RIGHT COLUMN: Military -->
                {{#if resume.military.length}}
                <div class="section-military print-together">
                    <div class="no-page-break">
                        <div class="page-header no-margin-bottom lg-margin-top">
                            <h5>Military Experience</h5>
                        </div>

                        {{#each resume.military}}
                        <h6 class="job-title sm-margin-top no-margin">
                            {{#if startDate}}
                            <span class="education-date">
                                {{#if startDate}}{{startDate}}{{/if}} &mdash; {{#if endDate}}{{endDate}}{{else}}Present{{/if}}
                            </span>
                            {{/if}}

                            {{#if organization}}{{organization}}{{/if}}
                        </h6>

                        <div class="clearfix"></div>

                        <p class="education-details no-margin">
                            {{#if position}}{{position}}{{/if}}
                            {{#if summary}}{{#if position}}<br />{{/if}}{{summary}}{{/if}}
                        </p>

                        <div class="clearfix"></div>

                        {{#if highlights.length}}
                        <ul class="no-margin-bottom">
                            {{#each highlights}}
                            <li>{{.}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}

                        {{/each}}

                    </div>
                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Miliary -->

                <!-- RIGHT COLUMN: Awards  -->
                {{#if resume.awards.length}}
                <div class="section-awards print-together">
                    <div class="no-page-break">
                        <div class="page-header no-margin-bottom lg-margin-top">
                            <h5>Awards</h5>
                        </div>

                        {{#each resume.awards}}
                        <h6 class="job-title sm-margin-top no-margin">
                            {{#if date}}
                            <span class="education-date">
                                {{#if date}}{{date}}{{/if}}
                            </span>
                            {{/if}}

                            {{#if title}}{{title}}{{/if}}
                        </h6>

                        <div class="clearfix"></div>

                        <p class="education-details no-margin">
                            {{#if awarder}}{{awarder}}{{/if}}
                            <br />
                            {{#if summary}}{{summary}}{{/if}}
                        </p>

                        <div class="clearfix"></div>

                        {{#if highlights.length}}
                        <ul class="no-margin-bottom">
                            {{#each highlights}}
                            <li>{{.}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}

                        {{/each}}

                    </div>
                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Awards -->

                <!-- RIGHT COLUMN: Projects  -->
                {{#if resume.projects.length}}
                <div class="section-projects no-page-break">
                    <div class="print-together">
                        <div class="page-header no-margin-bottom lg-margin-top no-page-break-after">
                            <h5>Projects</h5>
                        </div>

                        {{#each resume.projects}}
                        <div class="no-page-break">
                        {{#if name}}
                        <h6 class="job-title sm-margin-top no-margin">
                            {{#if date}}
                            <span class="education-date">
                                {{#if date}}{{date}}{{/if}}
                            </span>
                            {{/if}}

                            {{#if name}}{{name}}{{/if}}
                        </h6>
                        {{/if}}

                        <div class="clearfix"></div>

                        <p class="education-details no-margin">
                            {{#if website}}<a href="{{website}}">{{stripHttp website}}</a>{{/if}}
                        </p>

                        {{#if summary}}
                        <p class="sm-margin-top">
                            {{{summary}}}
                        </p>
                       {{/if}}

                        {{#if highlights.length}}
                        <ul class="no-margin-bottom">
                            {{#each highlights}}
                            <li>{{{.}}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}

                        </div>
                        {{#if @first}}</div>{{/if}}
                        {{/each}}

                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Projects -->

                <!-- RIGHT COLUMN: Publications  -->
                {{#if resume.publications.length}}
                <div class="section-publications print-together">
                        <div class="page-header no-margin-bottom lg-margin-top">
                            <h5>Selected Publications</h5>
                        </div>

                        {{#each resume.publications}}
                        <div class="no-page-break">
                        <h6 class="job-title sm-margin-top no-margin">
                            {{#if releaseDate}}
                            <span class="education-date" style="min-width: 48px;">
                                {{#if releaseDate}}{{releaseDate}}{{/if}}
                            </span>
                            {{/if}}

                            {{#if name}}{{name}}{{/if}}
                            {{#if publisher}}<br /><small style="font-size: 90%;">{{publisher}}</small>{{/if}}
                        </h6>

                        <div class="clearfix"></div>

                        <p class="education-details no-margin">
                            {{#if website}}<a href="{{website}}">{{stripHttp website}}</a><br />{{/if}}
                            {{#if summary}}{{summary}}{{/if}}
                        </p>

                        </div>
                        {{/each}}

                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Publications -->

                <!-- RIGHT COLUMN: Presentations  -->
                {{#if resume.presentations.length}}
                <div class="section-presentations no-page-break">
                    <div class="print-together">
                        <div class="page-header no-margin-bottom lg-margin-top">
                            <h5>Selected Presentations</h5>
                        </div>

                        {{#each resume.presentations}}
                        <div class="no-page-break">
                        <h6 class="job-title sm-margin-top no-margin">
                            {{#if date}}
                            <span class="education-date">
                                {{#if date}}{{date}}{{/if}}
                            </span>
                            {{/if}}

                            {{#if name}}{{name}}{{/if}}
                            {{#if event}}<br /><small style="font-size: 90%;">{{event}}</small>{{/if}}
                        </h6>

                        <p class="job-information no-margin no-padding">
                            {{#if website}}<a href="{{website}}">{{stripHttp website}}</a><br />{{/if}}
                            {{#if address}}{{address}}{{/if}}
                        </p>


                        <div class="clearfix"></div>

                        <p class="education-details no-margin">
                            {{#if summary}}{{summary}}{{/if}}
                        </p>

                        </div>
                        {{#if @first}}</div>{{/if}}
                        {{/each}}

                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Presentations -->

                <!-- RIGHT COLUMN: Volunteer -->
                {{#if resume.volunteer.length}}
                <div class="section-volunteer no-page-break">
                    <div class="page-header no-margin-bottom lg-margin-top">
                        <h5>Volunteer Experience</h5>
                    </div>

                    {{#each resume.volunteer}}
                    <div class="no-page-break">
                    <h6 class="job-title sm-margin-top no-margin">
                        {{#if startDate}}
                        <span class="education-date">
                            {{#if startDate}}{{startDate}}{{/if}} &mdash; {{#if endDate}}{{endDate}}{{else}}Present{{/if}}
                        </span>
                        {{/if}}

                        {{#if organization}}{{organization}}{{/if}}
                    </h6>

                    <div class="clearfix"></div>

                    <p class="education-details no-margin">
                        {{#if position}}<span style="font-size: 1.1em">{{position}}</span>{{/if}}
                        {{#if summary}}{{#if position}}<br />{{/if}}{{summary}}{{/if}}
                    </p>

                    <div class="clearfix"></div>

                    {{#if highlights.length}}
                    <ul class="no-margin-bottom">
                        {{#each highlights}}
                        <li>{{.}}</li>
                        {{/each}}
                    </ul>
                    {{/if}}

                    </div>
                    {{#if @first}}</div>{{/if}} <!-- close div keeping title and first entry together -->
                    {{/each}}
                {{/if}}
                <!-- // RIGHT COLUMN: Volunteer -->

            </div>
            <!-- // Right COLUMN -->
        </div> <!-- // Container -->
    </body>
</html>
